<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#explore" class="skip-link">Menuju ke konten</a>
    <header>
      <h1 id="main-content">Restaurant App</h1>
    </header>
    <a id="hamburger" href="#">☰</a>
    <nav id="drawer">
      <ul>
        <li class="nav-item-1"><a href="index.html">Home</a></li>
        <li class="nav-item-2"><a href="#">Favorite</a></li>
        <li class="nav-item-3">
          <a href="https://www.instagram.com/why.luq">About Us</a>
        </li>
      </ul>
    </nav>

    <main>
      <section class="drawer">

        <div class="jumbotron">
          <img alt="jumbotron image" class="hero-image" width="100%" />
        </div>
      </section>

      <h2 class="explore" id="explore">explore our restaurants</h2>

      <section class="restaurants">
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/41"
            width="100%"
            alt="Bring Your Phone Cafe Restaurant Image"
          />
          <h3>Bring Your Phone Cafe</h3>
          <h4>Kota Medan</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magni
            inventore officiis unde aperiam accusantium voluptate eos, ab nam,
            fugiat debitis nostrum beatae, aspernatur earum. Voluptatem expedita
            eius sit architecto! Quisquam, quos ea. Natus delectus voluptates
            quo eius autem, sequi, quidem rerum doloremque aut deleniti
            praesentium hic quae, architecto est facere consectetur similique.
            Magnam ut aut odio quidem aperiam iste.
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/07"
            width="100%"
            alt="Run The Gun Restaurant Image"
          />
          <h3>Run The Gun</h3>
          <h4>Kota Bali</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic aut
            similique nemo aspernatur molestias, saepe officiis. Soluta
            voluptate in necessitatibus dicta molestias? Qui atque explicabo
            neque laudantium consectetur natus molestias. Fugiat ut nostrum
            officia minima odio maxime dolorum dignissimos omnis, cupiditate
            voluptates est? Debitis aut qui tenetur nulla porro consequuntur
            quisquam autem error iusto, quasi eum ullam minus dolores nobis.
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/29"
            width="100%"
            alt="Pangsit Express Restaurant Image"
          />
          <h3>Pangsit Express</h3>
          <h4>Kota Ternate</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            fugit, ratione molestias, vero neque eius deleniti aliquam quos odio
            expedita officia facere voluptate totam illum quia itaque, illo
            temporibus nobis? Perspiciatis, architecto dolore. Soluta
            praesentium unde tenetur fuga harum alias culpa deleniti error hic
            recusandae natus voluptatem voluptates excepturi, nemo corrupti
            facere impedit dolor similique dignissimos libero quia beatae dicta?
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/38"
            width="100%"
            alt="Ducky Duck Restaurant Image"
          />
          <h3>Ducky Duck</h3>
          <h4>Kota Malang</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat,
            fuga! Temporibus dolore neque provident sint aperiam harum, dolor
            quisquam facilis vitae pariatur cupiditate illo inventore ratione
            nisi in deserunt voluptas. Error repellendus fugiat inventore dicta
            dolorem quas perferendis sunt aspernatur, facere natus cupiditate
            architecto autem voluptatem tempore cum dolor iste. Cupiditate
            blanditiis autem harum error odio quis laboriosam placeat eum?
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/40"
            width="100%"
            alt="Kafein Restaurant Image"
          />
          <h3>Kafein</h3>
          <h4>Kota Bali</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            iusto illum suscipit nobis tempore numquam vero hic est accusantium
            voluptates, voluptatibus similique alias ipsum officiis quaerat
            commodi nesciunt harum repellat! Architecto veritatis explicabo illo
            neque necessitatibus, eveniet molestias ducimus voluptate maiores
            eum, at, rerum qui nulla fugit velit dolorem aspernatur officia
            sequi delectus animi alias repellendus? Ducimus, nemo! Tenetur,
            quae!
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/08"
            width="100%"
            alt="Makan Mudah Restaurant Image"
          />
          <h3>Makan Mudah</h3>
          <h4>Kota Malang</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            quod dolores autem error voluptate, ducimus alias natus, voluptas
            earum recusandae qui nesciunt? Molestias, quas fugiat nulla
            repellendus quis laborum tempore. Quos nisi voluptatum possimus
            pariatur delectus accusantium cupiditate illo ab consequuntur
            corrupti nulla commodi ex labore quibusdam ratione recusandae
            praesentium, debitis earum libero maiores necessitatibus dolorum?
            Officiis illum temporibus veniam.
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/32"
            width="100%"
            alt="Saya Suka Restaurant Image"
          />
          <h3>Saya Suka</h3>
          <h4>Kota Surabaya</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            quod dolores autem error voluptate, ducimus alias natus, voluptas
            earum recusandae qui nesciunt? Molestias, quas fugiat nulla
            repellendus quis laborum tempore. Quos nisi voluptatum possimus
            pariatur delectus accusantium cupiditate illo ab consequuntur
            corrupti nulla commodi ex labore quibusdam ratione recusandae
            praesentium, debitis earum libero maiores necessitatibus dolorum?
            Officiis illum temporibus veniam.
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/45"
            width="100%"
            alt="Gigitan Cepat Restaurant Image"
          />
          <h3>Gigitan Cepat</h3>
          <h4>Kota Aceh</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            quod dolores autem error voluptate, ducimus alias natus, voluptas
            earum recusandae qui nesciunt? Molestias, quas fugiat nulla
            repellendus quis laborum tempore. Quos nisi voluptatum possimus
            pariatur delectus accusantium cupiditate illo ab consequuntur
            corrupti nulla commodi ex labore quibusdam ratione recusandae
            praesentium, debitis earum libero maiores necessitatibus dolorum?
            Officiis illum temporibus veniam.
          </p>
        </article>
        <article class="restaurant">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/04"
            width="100%"
            alt="Fairy Cafe Restaurant Image"
          />
          <h3>Fairy Cafe</h3>
          <h4>Kota Malang</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            quod dolores autem error voluptate, ducimus alias natus, voluptas
            earum recusandae qui nesciunt? Molestias, quas fugiat nulla
            repellendus quis laborum tempore. Quos nisi voluptatum possimus
            pariatur delectus accusantium cupiditate illo ab consequuntur
            corrupti nulla commodi ex labore quibusdam ratione recusandae
            praesentium, debitis earum libero maiores necessitatibus dolorum?
            Officiis illum temporibus veniam.
          </p>
        </article>
      </section>
    </main>

    <footer>Copyright © 2023 - Restaurant App</footer>

  </body>
</html>
