*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  width: 100%;
}

header {
}

header h1{
  text-align: center;
  font-size: 5em;
  padding: 20px;
}

 nav {
  padding: 20px;
} 
nav ul {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}


nav ul li {
  list-style-type: none;
  width: fit-content;
  font-size: 2em;  
}

nav ul li a {
  text-decoration: none;

}

.nav-item{
  
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
}