* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html,
body,
main {
  width: 100%;
}

main {
  padding: 16px;
}

header h1 {
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

nav {
  padding: 20px;
}
nav ul {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  width: fit-content;
  font-size: 2em;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburger{
  display: none;
}

/* restaurants section */
/* untuk  mobile display ( < 650px )*/
.restaurants{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.restaurant{
  padding: 5px;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 5px 5px 20px;
}

.restaurant img{
}