* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat;
}

.hero-image{
  width: 100%;
}

html,
body,
main {
  width: 100%;
}

main {
  padding: 16px;
}

header h1 {
  text-align: center;
  font-size: 4em;
  padding: 20px;
}

nav {
  padding: 20px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  width: fit-content;
  font-size: 2em;
}

nav ul li a {
  color: black;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburger{
  display: none;
}

/* restaurants section */
/* untuk  mobile display ( < 650px )*/
.restaurants{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

.restaurant{
  padding: 25px;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 5px 5px 20px;
}

.explore{
  text-align: center;
  padding: 20px;
  font-size: 3em;
}

.restaurant h3,h4, p{
  padding: 5px;
}

footer{
  color: #fefefe;
  padding: 20px;
  background: rgb(151, 151, 151);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}